body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.mission{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 5%;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato, salmon);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}